@media print {
  .mantine-Stepper-steps, h1 { display: none;}
  .mantine-Group-root { display: none;}
  a { display: none;}
  .outer-box {
    margin-top: 30px;
  }

  ::-webkit-scrollbar {
    display: none;
}
}

h1 {
  margin-bottom: 5%;
}

span {
  font-weight: bold;
  margin-bottom: 5px;
}

.outer-box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 800px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  /* font-size: large; */
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;
  /* font-size: large; */
}

.general-info {
  margin-left: 15px;
  margin-top: 5px;
}

.info-in-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.avatar-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  /* margin-bottom: 5px; */
}

.board-avatar-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.notes-avatar-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.one-data {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.board-spec-box {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  /* font-size: large; */
}

.notes-inner-div {
  width: 100%;
  padding-top: 10px;
  padding-left: 12px;
}

@font-face {
  font-family: "Brush";
  src: local('Avallon'),
    url('./fonts/Avallon.ttf') format('truetype')
}

.order-title {
  font-family: 'Brush';
}

.order-date {
  display: flex;
  flex-direction: column;
  /* font-size: large; */
}

.order-type-heading {
  border: 4px solid black;
  border-radius: 10px;
  padding: 0 19px;
  font-size: 70px;
}

.title-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}

.rush {
  width: 100%;
  display: flex;
  padding-top: 8px;
  justify-content: center;
  /* margin-bottom: 15px; */
}

.r-div {
  color: red;
  font-size: 80px;
  font-weight: 500;
}

#image {
  /* grid-column: 3 / span 2; */
  background-color: white;
  grid-column: 3;
  height: 300px;
  width: 250;
}

#notes.child {
  grid-column: 1 / span 2;
  justify-content: flex-start;
}

.mantine-Table-root {
  margin-top: 4%;
  margin-bottom: 4%;
  cursor: default;
}

.orderNum {
  background-color: gainsboro;
}