
@media print {
    .mantine-Stepper-steps, h1 { display: none;}
    .mantine-Group-root { display: none;}
    a { display: none;}
}

h1 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 5%;
}

#container {
  display: grid;
  height: 297mm;
  width: 210mm;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  column-gap: 60px;
}

#intro1 {
  grid-column: 1 / span 2;
}

#intro2{
  grid-column: 3 / span 2;
}

#rider1 {
  grid-column: 1 / span 2;
}

#rider2 {
  grid-column: 3 / span 2;
}

#boardspecs1{
  grid-column: 1 / span 2;
}

#boardspecs2{
  grid-column: 3;
  justify-items: center;
}

#boardspecs3{
  grid-column: 4;
}

#notes {
  grid-column: 1 / span 2;
}

#image {
  grid-column: 3 / span 2;
  height: 300px;
  width: 250;
}